<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="${title}"></title>
</head>

<style>
table th, table td {
	padding: 5px;
}

.message {
	color: blue;
}
</style>

<body>
	<form action="searchedBooks">
		<h2>Searched Book 1</h2>
		<input type='text' name='bookName' value=''></input> <input
			type="submit"></input>
	</form>


	
		<ul th:each="book : ${books}" class="products-grid hidden_btn_cart">
			<li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6">
			<div>
				<form action="bookDetail">
					<input type="hidden" name="bookId" th:value="${book.bookId}" /> <input
						type="submit" value="Detail">
				</form>
			</div>
			<div th:utext="${book.bookTitle}">...</div>
			<div th:utext="${book.bookDescription}">...</div>
			<div th:utext="${book.bookISBN}">...</div>
			
			</li>
		</ul>



	<label th:text="${errorMsg}"></label>

</body>
</html>